In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('Loan_approval_data_2025.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  object
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  object
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(10), object(4)
memory usage: 7.6+ MB

In [30]:
df

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,0,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,0,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,1,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,1,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,0,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CUST149995,35,0,4.3,39449,570,16.3,1127,7576,0,0,0,Credit Card,Education,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,0,4.4,20496,672,12.6,1478,6276,1,0,0,Credit Card,Personal,3800,18.07,0.306,0.185,0.062,0
49997,CUST149997,41,2,4.8,18743,719,10.1,17,10331,0,0,0,Credit Card,Personal,18000,17.45,0.551,0.960,0.320,0
49998,CUST149998,38,1,0.4,17250,633,1.3,5,7779,0,0,1,Personal Loan,Personal,1400,14.71,0.451,0.081,0.027,0
49999,CUST149999,53,0,17.2,46923,695,15.0,8332,2655,0,1,0,Personal Loan,Personal,41000,12.39,0.057,0.874,0.291,1

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  int64
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  int64
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(12), object(2)
memory usage: 7.6+ MB

In [26]:
df['occupation_status'].unique()

array(['Employed', 'Student', 'Self-Employed'], dtype=object)

In [27]:
def occu(x):
    if x == 'Employed':
        return 0
    if x == 'Student' :
        return 1
    if x == 'Self-Employed':
        return 2
    else:
        return x

In [29]:
df['occupation_status'] = df['occupation_status'].apply(occu)

In [32]:
df['product_type'].unique()

array(['Credit Card', 'Personal Loan', 'Line of Credit'], dtype=object)

In [33]:
def pro(x):
    if x == 'Credit Card':
        return 1
    if x == 'Personal Loan':
        return 2
    if x == 'Line of Credit':
        return 3
    else:
        return x

In [35]:
df['product_type'] = df['product_type'].apply(pro)

In [37]:
df['loan_intent'].unique()

array(['Business', 'Home Improvement', 'Debt Consolidation', 'Education',
       'Personal', 'Medical'], dtype=object)

In [38]:
def lon_intent(x):
    if x == 'Business':
        return 1
    if x == 'Home Improvement':
        return 2
    if x == 'Debt Consolidation':
        return 3
    if x == 'Education':
        return 4
    if x == 'Personal':
        return 5
    if x == 'Medical':
        return 6
    else:
        return x

In [40]:
df['loan_intent'] = df['loan_intent'].apply(lon_intent)

In [41]:
df

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,0,17.2,25579,692,5.3,895,10820,0,0,0,1,1,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,0,7.3,43087,627,3.5,169,16550,0,1,0,2,2,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,1,1.1,20840,689,8.4,17,7852,0,0,0,1,3,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,1,0.5,29147,692,9.8,1480,11603,0,1,0,1,1,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,0,12.5,63657,630,7.2,209,12424,0,0,0,2,4,99600,13.92,0.195,1.565,0.522,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CUST149995,35,0,4.3,39449,570,16.3,1127,7576,0,0,0,1,4,42800,21.31,0.192,1.085,0.362,0
49996,CUST149996,34,0,4.4,20496,672,12.6,1478,6276,1,0,0,1,5,3800,18.07,0.306,0.185,0.062,0
49997,CUST149997,41,2,4.8,18743,719,10.1,17,10331,0,0,0,1,5,18000,17.45,0.551,0.960,0.320,0
49998,CUST149998,38,1,0.4,17250,633,1.3,5,7779,0,0,1,2,5,1400,14.71,0.451,0.081,0.027,0
49999,CUST149999,53,0,17.2,46923,695,15.0,8332,2655,0,1,0,2,5,41000,12.39,0.057,0.874,0.291,1

In [42]:
df.drop(columns=['customer_id'], inplace=True)

In [13]:
def con(x):
    if x == True:
        return 1
    if x == False:
        return 0
    else:
        return x

In [15]:
df['loan_approved'] = df['loan_approved'].apply(con)

In [43]:
df.isnull().sum()

age                        0
occupation_status          0
years_employed             0
annual_income              0
credit_score               0
credit_history_years       0
savings_assets             0
current_debt               0
defaults_on_file           0
delinquencies_last_2yrs    0
derogatory_marks           0
product_type               0
loan_intent                0
loan_amount                0
interest_rate              0
debt_to_income_ratio       0
loan_to_income_ratio       0
payment_to_income_ratio    0
loan_status                0
dtype: int64

In [44]:
df.drop_duplicates(inplace=True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      50000 non-null  int64
 1   occupation_status        50000 non-null  int64
 2   years_employed           50000 non-null  float64
 3   annual_income            50000 non-null  int64
 4   credit_score             50000 non-null  int64
 5   credit_history_years     50000 non-null  float64
 6   savings_assets           50000 non-null  int64
 7   current_debt             50000 non-null  int64
 8   defaults_on_file         50000 non-null  int64
 9   delinquencies_last_2yrs  50000 non-null  int64
 10  derogatory_marks         50000 non-null  int64
 11  product_type             50000 non-null  int64
 12  loan_intent              50000 non-null  int64
 13  loan_amount              50000 non-null  int64
 14  interest_rate            50000 non-null  float64
 15  debt_to_income_ratio     50000 non-null  float64
 16  loan_to_income_ratio     50000 non-null  float64
 17  payment_to_income_ratio  50000 non-null  float64
 18  loan_status              50000 non-null  int64
dtypes: float64(6), int64(13)
memory usage: 7.2 MB

In [46]:
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
iqr = q3 - q1
upper = q3+1.5 *(iqr)
lower = q1 - 1.5 * (iqr)

In [51]:
data = df[(df <= upper) & (df >= lower)]

In [52]:
data.isnull().sum()

age                         112
occupation_status             0
years_employed             1373
annual_income              2355
credit_score                349
credit_history_years        349
savings_assets             6508
current_debt               2932
defaults_on_file           2674
delinquencies_last_2yrs    1761
derogatory_marks           6393
product_type                  0
loan_intent                   0
loan_amount                   0
interest_rate                 0
debt_to_income_ratio        332
loan_to_income_ratio          0
payment_to_income_ratio       0
loan_status                   0
dtype: int64

In [53]:
data.dropna(inplace=True)

In [54]:
data.isnull().sum()

age                        0
occupation_status          0
years_employed             0
annual_income              0
credit_score               0
credit_history_years       0
savings_assets             0
current_debt               0
defaults_on_file           0
delinquencies_last_2yrs    0
derogatory_marks           0
product_type               0
loan_intent                0
loan_amount                0
interest_rate              0
debt_to_income_ratio       0
loan_to_income_ratio       0
payment_to_income_ratio    0
loan_status                0
dtype: int64

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31413 entries, 0 to 49997
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      31413 non-null  float64
 1   occupation_status        31413 non-null  int64
 2   years_employed           31413 non-null  float64
 3   annual_income            31413 non-null  float64
 4   credit_score             31413 non-null  float64
 5   credit_history_years     31413 non-null  float64
 6   savings_assets           31413 non-null  float64
 7   current_debt             31413 non-null  float64
 8   defaults_on_file         31413 non-null  float64
 9   delinquencies_last_2yrs  31413 non-null  float64
 10  derogatory_marks         31413 non-null  float64
 11  product_type             31413 non-null  int64
 12  loan_intent              31413 non-null  int64
 13  loan_amount              31413 non-null  int64
 14  interest_rate            31413 non-null  float64
 15  debt_to_income_ratio     31413 non-null  float64
 16  loan_to_income_ratio     31413 non-null  float64
 17  payment_to_income_ratio  31413 non-null  float64
 18  loan_status              31413 non-null  int64
dtypes: float64(14), int64(5)
memory usage: 4.8 MB

In [56]:
data.to_csv('Model_data_xyz.xlsx', index = False)

In [58]:
len(data.columns)

19